*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
}

main{
    height: calc(100vh - 130px);
    background-color:teal ;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
height: 50px;
background-color: #fff;
}

header .left, header .right{
    display: flex;
    align-items: center;
}

header .left img{
    width: 30px;
    margin-right: 10px;
}

.right span, .right select{
    margin-right: 10px;
}

.right button, .right select{
    padding: 0px 30px;
}

footer p{
    margin: 15px 0px 0px 270px;
}

.container{
    width: 500px;
    height: 500px;
    /* background-color: #fff; */
}

.cella{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

.cella.easy{
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.cella.hard{
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.cella.crazy{
    width: calc(100% / 7);
    height: calc(100% / 7);
}

